@keyframes glowing-text-animation {
  0% {
    text-shadow: 0 0 0 #00BFFF, 0 0 5px #00BFFF;
    background-position: 0 0;
  }
  50% {
    text-shadow: 0 0 20px #00BFFF, 0 0 10px #00BFFF;
  }
  100% {
    text-shadow: 0 0 0 #00BFFF, 0 0 0 #00BFFF;
    background-position: 100% 0;
  }
}