.glowing-text {
    background: linear-gradient(to right, #ADD8E6, #F5DEB3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.75em;
    text-align: left;
    animation: glowing-text-animation 4s ease-in-out infinite;
    padding: .1em .25em;
}

.logo-text {
    font-size: 2em;
    font-weight: 800;
}