.header-container {
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Distribute content along the main axis */
  padding: 1rem 0.5rem 2rem;
  // background-color: #00000091; /* Header background color */
  // background: rgb(2,0,36);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.75) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white; /* Text color */
  .site-logo {
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}

/* Add any additional styles for the logo and icon links */
.logo-link {
  text-decoration: none; /* Remove underline */
}

.logo-image {
  margin-right: 20px; /* Add some spacing between logo and icon links */
}
