nav.navigation-menu {
  .desktop-menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    ul {
      li {
        display: inline;
        a {
          color: #ccc;
          text-decoration: none;
          padding: 0 0.5rem;
          &:hover {
            color: rgb(224, 224, 20);
            text-decoration: underline;
          }
        }
      }
    }
  }
  .mobile-menu {
    button.hamburger-button {
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;
      position: fixed;
      right: 1rem;
      top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
    }
    ul {
      position: fixed;
      top: 2.5rem;
      right: 1rem;
      li {
        margin-bottom: 0.5rem;
        text-align: center;
        .nav-icon {
          color: rgb(4, 161, 205);
          text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  ul {
    list-style: none;
  }
  @media screen and (min-width: 769px) {
    .mobile-menu {
      opacity: 0;
      transition: opacity 1s;
    }
  }

  @media screen and (max-width: 768px) {
    .desktop-menu {
      opacity: 0;
      transition: opacity 1s;
    }
    .mobile-menu {
      ul {
        opacity: 0;
        transition: opacity 0.5s;
        &.open {
          opacity: 1;
        }
      }
      .menu-close-button {
        display: none;
      }
      &.open {
        .menu-close-button {
          display: block;
        }
      }
    }
  }
}
