nav.navigation-menu {
  ul {
    list-style: none;
  }
  @media screen and (min-width: 769px) {
    ul {
      li {
        display: inline;
        a {
          color: #ccc;
          text-decoration: none;
          padding: 0 0.5rem;
          &:hover {
            color: rgb(224, 224, 20);
            text-decoration: underline;
          }
        }
      }
    }
    .mobile-menu {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
    .mobile-menu {
      ul {
        position: fixed;
        top: 2rem;
        right: 1rem;
        li {
          margin-bottom: 0.5rem;
          text-align: center;
          .nav-icon {
            color: rgb(247, 245, 245);
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
            &:hover {
              color: #fff;
            }
          }
        }
      }
      .menu-close-button {
        display: none;
      }
      button.hamburger-button {
        height: 22px;
        width: 22px;
        cursor: pointer;
        position: fixed;
        right: 1rem;
        top: 1rem;
      }
      &.open {
        .menu-close-button {
          display: block;
        }
      }
    }
  }
}
