// Set body background to black
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  // Set header and footer to transparent
  header,
  footer {
    background-color: transparent;
  }
  
  // Set header and footer to semi-transparent with a black background
  header,
  footer {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  // Position the header at the top of the screen with a height of 60px
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000; // ensure the header is on top of the slideshow
  }
  
  // Position the footer at the bottom of the screen with a height of 40px
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 1000; // ensure the footer is on top of the slideshow
  }
  
  .glowing-text {
    background: linear-gradient(to right, #ADD8E6, #F5DEB3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    text-align: left;
    animation: glowing-text-animation 4s ease-in-out infinite;
  }

  .logo-text {
    font-size: 2em;
    font-weight: 800;
  }

  .fullscreen-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  
  .fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  