/* QRCode */

.qr-code {
  text-align: center;
  padding-bottom: 1rem;
}

/* HeroHeader */

.hero-header-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.hero-header-content {
  //   max-width: 600px;
  padding: 0px 20px 10px;
  background: #0000009d;
  width: 100%;
  h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .hero-header-content h2 {
    font-size: 30px;
  }

  .hero-header-content p {
    font-size: 16px;
  }
}

/* ColumnarList */

.columnar-list {
  .main-header {
    padding: 0 0.75rem;
    text-align: center;
  }
  .main-body-text {
    padding: 0 2rem;
  }
  .panels {
    display: flex;
    .panel {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(33.33% - 20px);
      margin: 10px;
      padding: 0 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      .panel-image {
        position: relative;
        padding-bottom: 75%;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .panel-heading {
        text-align: center;
      }
      .panel-subheading {
        text-align: center;
      }
      .panel-links {
        a {
          color: #ccc;
          &:hover {
            color: rgb(236, 236, 8);
          }
        }
      }
      .cta-links {
        padding-top: 1.25rem;
        text-align: right;
        button {
          width: 25%;
          height: 2rem;
          cursor: pointer;
        }
      }
    }
    @media (max-width: 768px) {
      display: block;
    }
  }
}

.full-width .columnar-list {
  // display: block;
  .panels {
    display: block;
    width: 100%;
  }
}
.half-width .columnar-list {
  // display: block;

  .panels {
    display: flex;
    .panel {
      flex-grow: 0;
      flex-shrink: 0;
      @media (min-width: 768px) {
        flex-basis: calc(50% - 20px);
      }
      @media (min-width: 1024px) {
        flex-basis: calc(33.33% - 20px);
      }
      // @media (min-width: 1201px) {
      //   flex-basis: calc(25% - 20px);
      // }
      margin: 10px;
      padding: 0 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }
  @media (min-width: 1024px) {
    .panel {
      flex-basis: calc(33.33% - 20px);
    }
  }
}

/* FeaturesList */

section.features-list {
  opacity: 0;
  transition: opacity 1s;
  &.visible {
    opacity: 1;
  }
}

/* Services, PortfolioList */

section.services,
section.portfolio-list {
  .main-header,
  .panel {
    opacity: 0;
    transition: opacity 1s;
    &.visible {
      opacity: 1;
    }
  }
  .panels {
    .panel-heading {
      h3 {
        margin: 1.5rem 1.5rem 0;
      }
    }
    .panel-subheading {
      h4 {
        margin: 1.5rem 1.5rem 0.5rem;
      }
    }
  }
}

section.portfolio-list {
  .panel-content {
    padding: 0 2rem;
  }
  .panel-links {
    text-align: center;
    a {
      text-decoration: none;
      color: white;
      font-weight: 800;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      background-color: #063a54;
      &:hover {
        background-color: #046304;
      }
    }
  }
}

/* Artwork Slider */

section.artwork-slider {
  .slider-heading,
  .slider-container {
    opacity: 0;
    transition: opacity 1s;
    &.visible {
      opacity: 1;
    }
  }
}

/* YouTube Playlist */

section.youtube-playlist {
  .panel-heading,
  .panel-subheading,
  .youtube-playlist-container {
    opacity: 0;
    transition: opacity 1s;
    &.visible {
      opacity: 1;
    }
  }
  .panel-heading {
    text-align: center;
  }
  .youtube-playlist-container {
    // padding: 0 1rem;
    margin-bottom: 2rem;
    // position: relative;
    padding-top: calc(75%); /* 4:3 aspect ratio */
    iframe.youtube-playlist {
      border: none;
      position: absolute;
      top: 0;
      left: 1rem;
      width: calc(100% - 2rem);
      height: 100%;
    }
  }
}

/* Testimonials Slider */

section.testimonials-slider {
  .slider {
    opacity: 0;
    transition: opacity 1s;
    &.visible {
      opacity: 1;
    }
    .slider-container {
      .slides-all {
        .shadow-slides,
        .slides {
          .main-image {
            img {
              width: 75%;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .slide {
      display: flex;
      .slide-branding,
      .slide-meta {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 20px);
        margin: 10px;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .slide-branding {
        border-right: 0.25rem solid rgb(18, 122, 178);
      }
    }
  }
}

/* Contact */

section.contact-information {
  opacity: 0;
  transition: opacity 1s;
  &.visible {
    opacity: 1;
  }
  .contact-information {
    .body-text {
      p {
        margin-top: 0;
      }
    }
    @media (max-width: 767px) {
      display: block;
    }
    display: flex;
    padding: 0 1rem 1rem;
    margin-top: 2rem;
    .contact-meta,
    .contact-methods {
      @media (min-width: 768px) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 20px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    a {
      color: #ccc;
      text-decoration: none;
      &:hover {
        color: rgb(224, 224, 15);
        text-decoration: underline;
      }
    }

    .contact-method {
      display: flex;
      align-items: flex-start; /* Align items at the top of the container */
      .contact-method-icon {
        margin-right: 0.5rem; /* Add some space between icon and text */
      }
      .contact-method-text {
        display: flex;
        flex-direction: column; /* Stack text elements vertically */
        margin-bottom: 1rem;
        margin-left: 1rem;
        .contact-method-heading {
          h3 {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
