/* QRCode */

.qr-code {
  text-align: center;
}

/* HeroHeader */

.hero-header-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.hero-header-content {
  //   max-width: 600px;
  padding: 0px 20px 10px;
  background: #0000009d;
  width: 100%;
  h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .hero-header-content h2 {
    font-size: 30px;
  }

  .hero-header-content p {
    font-size: 16px;
  }
}

/* ColumnarList */

.columnar-list {
  .main-header {
    text-align: center;
  }
  .main-body-text {
    padding: 0 2rem;
  }
  .panels {
    display: flex;
    .panel {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(33.33% - 20px);
      margin: 10px;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      .panel-image {
        position: relative;
        padding-bottom: 75%;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .panel-heading {
        text-align: center;
      }
      .panel-links {
        a {
          color: #ccc;
          &:hover {
            color: rgb(236, 236, 8);
          }
        }
      }
    }
    @media (max-width: 768px) {
      display: block;
    }
  }
}

.full-width .columnar-list {
  // display: block;
  .panels {
    display: block;
    width: 100%;
  }
}

/* ContactInformation */

.contact-information {
  padding: 0 2rem;
  a {
    color: #ccc;
    &:hover {
      color: rgb(218, 218, 8);
    }
  }
}

/* FeaturesList */

section.features-list {
  opacity: 0;
  transition: opacity 1s;
  &.visible {
    opacity: 1;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Change to 'flex-start' to align panels in the same row */
  // margin: -10px; /* Add negative margin to account for spacing between panels */

  .initial-heading {
    width: 100%;
    text-align: center;
  }

  .panel {
    flex: 0 0 calc(33.33% - 20px); /* Use 'flex' property for equal-width panels */
    margin: 10px; /* Add margin for spacing between panels */
    padding: 20px;
    // border: 1px solid #ccc;
    box-sizing: border-box; /* Include border and padding in width calculation */
    display: flex;
    flex-direction: column;

    .panel-image {
      position: relative;
      padding-bottom: 75%; /* 4:3 aspect ratio */
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and fill container */
      }
    }

    .panel-heading {
      margin-top: auto;
      // align-self: center;
      text-align: center;
      padding: 20px;
      margin-bottom: 0; /* Reset margin to prevent excess spacing */
      font-size: 1.5rem;
    }

    .panel-content {
      p {
        margin: 0;
      }
    }

    .panel-body {
      margin-top: 0;
      padding: 0 20px;
      margin-bottom: 20px; /* Add margin to separate body text and buttons */
    }

    .cta {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      button {
        cursor: pointer;
        padding: 10px;
        margin: 0; /* Reset margin to prevent excess spacing */
      }
    }
  }
}

/* Add your responsive styles as needed */
@media (max-width: 768px) {
  .features-list {
    display: block;
    .initial-heading {
      width: 100%;
      text-align: center;
    }
    .panel {
      width: 100%; /* Full width on smaller viewports */
      margin: 10px 0; /* Remove horizontal margin for spacing */
      .panel-heading {
        align-self: flex-start;
        margin-bottom: 0; /* Reset margin to prevent excess spacing */
      }
      .panel-body {
        margin-bottom: 20px; /* Add margin to separate body text and buttons */
      }
      .cta {
        flex-direction: column;
        align-items: center;
        button {
          margin: 10px 0; /* Add vertical margin for spacing */
          width: 75%;
        }
      }
    }
  }
}
/* Services */

section.services {
  .main-header,
  .panel {
    opacity: 0;
    transition: opacity 1s;
    &.visible {
      opacity: 1;
    }
  }
}

/* PortfolioList */

section.portfolio-list {
  .main-header,
  .panel {
    opacity: 0;
    transition: opacity 1s;
    &.visible {
      opacity: 1;
    }
  }
}

.portfolio-list {
  width: 100%; // Make the component full width

  .portfolio-item {
    margin: 20px;
    padding: 20px;
    // border: 1px solid #ccc;

    .main-heading,
    .main-body-text {
      text-align: center;
    }

    .panels {
      display: flex;
      flex-direction: column;

      .panel {
        margin-top: 20px;
        // border: 1px solid #ddd;
        // border-radius: 5px;

        .panel-header {
          // Style the panel header here
        }

        .panel-image {
          position: relative;
          width: 100%;
          padding-top: 75%; // 4:3 aspect ratio
          overflow: hidden;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .panel-content {
          // Style the panel content here

          p {
            // Style the panel body text here
          }

          a {
            color: #ccc;
            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
  }
}
