.slider {
  margin-top: 1rem;
  .slider-heading {
    text-align: center;
  }
  .slider-subheading {
    text-align: center;
  }
  .arrow {
    cursor: pointer;
    padding: 1rem;
    font-size: 2rem;
    color: #0bbbe7;
    &:hover {
      color: rgb(220, 220, 19);
    }
  }
  .slider-container {
    position: relative;
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 500;
      .slides-all {
        width: 100%;
      }
    }

    .arrow.prev {
      left: 0;
    }
    .arrow.next {
      right: 0;
    }

    .slides-all {
      .slide-cta {
        text-align: center;
        margin-top: 1rem;
        a {
          cursor: pointer;
          text-decoration: none;
          color: white;
          font-weight: 800;
          background-color: #063a54;
          padding: 0.25rem 0.5rem;
          border-radius: 0.5rem;
          &:hover {
            background-color: rgb(4, 99, 4);
          }
        }
      }
      .shadow-slides {
        display: flex;
        overflow: hidden;
        z-index: -100;
        visibility: hidden;
        .slide-container {
          flex: 1;
          min-width: 100%;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
          // &.active {
          //   display: block;
          //   transition: opacity 1s;
          //   z-index: 10;
          // }
          .slide {
            padding: 0 3.5rem;
            .main-image {
              display: flex;
              justify-content: center;
              padding-top: 1rem;
              padding-bottom: 0.5rem;
              img {
                width: 100%;
              }
            }
            .slide-heading {
              h2 {
                font-size: 1.25rem;
              }
            }
            .slide-subheading {
              h3 {
                text-align: center;
                margin: 0;
              }
            }
            .slide-bodyText {
              p {
                margin-top: 0;
              }
            }
            .slide-avatar {
              position: relative;
              width: 20%;
              padding-bottom: 20%;
              height: 0;
              border-radius: 50%;
              overflow: hidden;
              margin: 0 auto;
              &-heading {
                h2 {
                  margin: 0.5rem 0;
                }
              }
              &-subheading {
                h3 {
                  margin: 0.5rem 0;
                }
              }
            }
            .slide-cta {
              a {
                pointer-events: none;
              }
            }
            .slide-avatar img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .slide-avatar-heading,
            .slide-avatar-subheading {
              text-align: center;
            }
          }
        }
      }
      .slides {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .slide-container {
          // display: none;
          opacity: 0;
          transition: opacity 1s ease-in-out;
          &.active {
            // display: block;
            opacity: 1;
            z-index: 100;
            .slide {
              z-index: 250;
              .slide-cta {
                opacity: 1;
                pointer-events: all;
              }
            }
          }
          .slide {
            z-index: -5;
            padding: 0 5rem;
            position: absolute;
            top: 0;
            left: 0;
            .main-image {
              display: flex;
              justify-content: center;
              padding-top: 1rem;
              padding-bottom: 0.5rem;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .slide-heading {
              h2 {
                font-size: 1.25rem;
              }
            }
            .slide-subheading {
              h3 {
                text-align: center;
                margin: 0;
              }
            }
            .slide-bodyText {
              p {
                margin-top: 0;
              }
            }
            .slide-cta {
              pointer-events: none;
              opacity: 0;
            }
            .slide-avatar {
              position: relative;
              width: 20%;
              padding-bottom: 20%;
              height: 0;
              border-radius: 50%;
              overflow: hidden;
              margin: 0 auto;
              &-heading {
                h2 {
                  margin: 0.5rem 0;
                }
              }
              &-subheading {
                h3 {
                  margin: 0.5rem 0;
                }
              }
            }

            .slide-avatar img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .slide-avatar-heading,
            .slide-avatar-subheading {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .slide-position {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    .indicator {
      display: inline-block;
      background-color: rgb(5, 100, 119);
      width: 1rem;
      height: 1rem;
      &.active {
        background-color: rgb(231, 231, 28);
      }
    }
  }
}
