.social-media-icons {
    display: inline-block;
    padding: 0 .5em;
    a {
        margin-right: 10px;
    }
    i {
        font-size: 20px;
    }
}

  .socialMediaIcon {
    margin: 0.5rem;
    transition: transform 0.2s ease-out;
    // color: #3b5998;
    animation: pulse-blue-purple 2s ease-in-out infinite;
    &:hover {
        animation: glow 2s ease-in-out infinite alternate;
    }
  }
  